# Archivos de salida binarios comunes
*.eep
*.elf
*.hex
*.map
*.lss
*.srec
*.sym
*.bin
*.lst

# Archivos intermedios de compilación
*.o
*.obj
*.d
*.dep
*.tmp

# Carpetas de build de Microchip Studio o Atmel Studio
**/Debug/
**/Release/
*.aps
*.bak

# Archivos temporales de proyecto
*.log
*.suo
*.ncb
*.user
*.plg
*.sdf
*.opensdf
*.VC.db

# Archivos generados automáticamente
*.mk
*.a
*.lib
*.smod
*.mod

# Sistema de control de versiones
*.DS_Store
Thumbs.db

